<div style="width: 30%; padding: 4rem"> <!-- just for testing purposes -->
    <div class="card card--primary">
        <header class="card__header">Card Title</header>
        <div class="card__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Vitae praesentium neque maiores molestias accusantium perspiciatis quod expedita, 
            soluta fugit sequi quam officia quibusdam repellendus similique esse dolor 
            placeat iure dolore.
        </div>
    </div>
</div>

<div style="width: 30%; padding: 4rem"> <!-- just for testing purposes -->
    <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Vitae praesentium neque maiores molestias accusantium perspiciatis quod expedita, 
            soluta fugit sequi quam officia quibusdam repellendus similique esse dolor 
            placeat iure dolore.
        </div>
    </div>
</div>