<div class="grid grid--1x2">
  <div style="height: 100px; background: gold"></div> <!-- style for testing purposes -->
  <div style="height: 100px; background: dodgerblue"></div> <!-- style for testing purposes -->
</div>

<div class="grid grid--1x3">
    <div style="height: 100px; background: gold"></div> <!-- style for testing purposes -->
    <div style="height: 100px; background: dodgerblue"></div> <!-- style for testing purposes -->
    <div style="height: 100px; background: tomato"></div> <!-- style for testing purposes -->
  </div>